<%= render "shared/navbar" %>
<%= render "shared/flashes" %>

<body class="gradient">
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="account-container" style="max-width: 600px; width: 100%; padding: 20px;">
      <h2>Register Gallery</h2>
      <%= simple_form_for @gallery, html: { multipart: true } do |f| %>
        <% if @gallery.errors[:photos].any? %>
          <div class="alert alert-danger">
            <ul>
              <% @gallery.errors[:photos].each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group" style="margin-top: 16px; font-family: 'Roboto', sans-serif;">
          <%= f.input :name, label: 'Gallery Name', placeholder: 'Gallery name', required: true, input_html: { class: 'form-control-sm' } %>
        </div>

        <div class="form-group" style="font-family: 'Roboto', sans-serif;">
          <%= f.input :address, label: 'Address', placeholder: 'Gallery address', required: true, input_html: { class: 'form-control-sm' } %>
        </div>

        <div class="form-group" style="font-family: 'Roboto', sans-serif;">
          <%= f.input :description, label: 'Description', placeholder: 'Gallery description', as: :text, required: true, input_html: { class: 'form-control-sm' } %>
        </div>

        <div class="form-group" style="font-family: 'Roboto', sans-serif;">
          <%= f.input :price, label: 'Rental price per day', placeholder: 'Gallery price per day', required: true, input_html: { class: 'form-control-sm' } %>
        </div>

        <div class="form-group" style="font-family: 'Roboto', sans-serif;">
          <%= f.input :website, label: 'Website', placeholder: 'https://example.com', input_html: { class: 'form-control-sm' } %>
        </div>

        <div class="form-group" style="font-family: 'Roboto', sans-serif;">
          <%= f.input :photos, as: :file, label: 'Gallery Photos', input_html: { multiple: true, class: 'form-control-sm', required: true } %>
        </div>

        <div class="form-group">
          <%= f.button :submit, 'Create Gallery', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</body>
