<%= render "shared/navbar" %>

<div class="container" style="padding-top: 75px;">
  <%= simple_form_for [@gallery, @application] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.button :submit %>
  <% end %>
</div>
