<%= render "shared/navbar" %>
<%= render "shared/flashes" %>

<div> <!-- hero image container -->
  <div class="home_hero_image" style="margin-top: 75px;">
    <div class="page-container">
      <h1>Find the<span class="flare"> perfect space</span><br>for your artwork</h1>
      <%# <p style="margin-top: 24px;"> <span style="background-color: white; border: solid 1px black; border-radius: 50px; padding: 8px; color: gray; padding-left: 16px;">Search by area...</span> <span style="background-color: rgb(25, 25, 25); border: solid 1px black; border-radius: 50px; padding: 8px; color: white; text-align: center;">Search</span></p> %>
    </div>
  </div>
</div> <!-- hero image container END -->

<div class="page-container">
  <h2>Popular galleries in your area</h2>
    <div class="grid-container" style="margin-top: 24px;">
    <% @galleries.first(4).each do |gallery| %>
      <div class="gallery-card grid-item" style="display: flex; flex-direction: column; justify-content: space-between;">
        <div>
          <div class="image"><%= cl_image_tag gallery.photos.first.key, class: "image" %></div>
          <h3 style="margin-top: 16px"><%= gallery.name %></h3>
          <p style="font-size: 10px; color: gray;"><%= gallery.address %></p>
          <p><%= truncate(gallery.description, length: 150, omission: '...') %></p>
          <p style="display: inline-block;" class="highlight"><%= gallery.price.round %> yen/day</p>
        </div>
        <div>
          <p><%= link_to 'View more', gallery_path(gallery), class: 'button-standard' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-container">
  <h2>Popular galleries word-wide</h2>
    <div class="grid-container" style="margin-top: 24px;">
    <% @galleries.first(4).each do |gallery| %>
      <div class="gallery-card grid-item" style="display: flex; flex-direction: column; justify-content: space-between;">
        <div>
          <div class="image"><%= cl_image_tag gallery.photos.first.key, class: "image" %></div>
          <h3 style="margin-top: 16px"><%= gallery.name %></h3>
          <p style="font-size: 10px; color: gray;"><%= gallery.address %></p>
          <p><%= truncate(gallery.description, length: 150, omission: '...') %></p>
          <p style="display: inline-block;" class="highlight"><%= gallery.price.round %> yen/day</p>
        </div>
        <div>
          <p><%= link_to 'View more', gallery_path(gallery), class: 'button-standard' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
