<%= render "shared/navbar" %>

<div class="container-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= simple_form_for @gallery do |f| %>
          <div class="form-group">
            <%= f.input :name, label: 'Gallery Name', required: true, input_html: { class: 'form-control-sm' } %>
          </div>

          <div class="form-group">
            <%= f.input :address, label: 'Address', required: true, input_html: { class: 'form-control-sm' } %>
          </div>

          <div class="form-group">
            <%= f.input :description, label: 'Description', as: :text, required: true, input_html: { class: 'form-control-sm' } %>
          </div>

          <div class="form-group">
            <%= f.input :price, label: 'Price', required: true, input_html: { class: 'form-control-sm' } %>
          </div>

          <div class="form-group">
            <%= f.input :website, label: 'Website', placeholder: 'https://example.com', input_html: { class: 'form-control-sm' } %>
          </div>

          <div class="form-group">
            <%= f.input :photos, as: :file, label: 'Gallery Photos', input_html: { multiple: true, class: 'form-control-sm' } %>
          </div>

          <div class="form-group">
            <%= f.button :submit, 'Create Gallery', class: 'btn btn-primary btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
