<%= render "shared/navbar" %>
<%= render "shared/flashes" %>

<div class="container-main">
  <div class="page-container">
    <!-- Image Gallery -->
    <div class="image-gallery" style="padding-top: 75px;">
      <!-- Main Image -->
      <div class="large-image">
        <% if @gallery.photos.attached? %>
          <%= cl_image_tag @gallery.photos.first.key, width: 800, height: 450, crop: :fill, class: "img-fluid", alt: "Main Gallery Photo" %>
        <% else %>
          <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img01.jpg', alt: 'main image', class: 'img-fluid' %>
        <% end %>
      </div>

      <!-- Small Images -->
      <div class="small-images">
        <% if @gallery.photos.attached? %>
          <% @gallery.photos[1..4].each do |photo| %>
      <%= cl_image_tag photo.key, width: 400, height: 225, crop: :fill, class: "img-fluid", alt: "Gallery Photo", quality: 80 %>
          <% end %>
        <% else %>
          <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img02.jpg', alt: 'Small Image 1', class: 'img-fluid' %>
          <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img03.jpg', alt: 'Small Image 2', class: 'img-fluid' %>
          <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img05.jpg', alt: 'Small Image 3', class: 'img-fluid' %>
          <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img06.jpg', alt: 'Small Image 4', class: 'img-fluid' %>
        <% end %>
      </div>
    </div>
  <!-- Gallery Title -->
    <div class="description-container space-between" style="padding-top: 16px;">
      <div class="description" style="width: 65%;">
        <div>
          <h1><%= @gallery.name %></h1>
          <!-- Website as a Hyperlink -->
          <p><a href="<%= @gallery.website %>" style="text-decoration: none; color: #007BFF;"><%= @gallery.website %></a></p>
          <p><%= @gallery.address %></p>
        </div>
    <!-- Dividers and Sections -->
    <div class="divider"></div>
    <div class="gallery-short-description" style="display: flex; align-items: center;">
    <%= image_tag 'https://kitt.lewagon.com/placeholder/users/ssaunier', alt: 'host photo', class: 'avatar', style: 'margin-right: 12px;' %>
    <p style="margin: 0;"> Hosted by <strong>Kevin Downs</strong></p>
  </div>
    <div class="divider"></div>
    <div class="gallery-short-description">
      <ul>
        <li><h3>Beautiful modern feeling</h3></li>
        <li><h3>Dynamic furniture included for use</h3></li>
        <li><h3>Open space for a variety of mediums</h3></li>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="gallery-description" style="padding-top: 24px; 0;">
      <p><%= @gallery.description %></p>
    </div>
  </div>

    <!-- Booking Form -->
    <div class="booking-form" style="width:32.5%; padding-top: 20px;">
      <div style="padding-bottom: 26px;">
        <h2>Reserve Gallery</h2>
      </div>
      <div class="gallery-booking" style="background-color: #f0f0f0; border-radius: 8px; padding: 20px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)">
        <h3>¥<%= @gallery.price.round %> Per day</h3>
        <div class="divider"></div>
        <%= form_with(model: [@gallery, @application], url: apply_gallery_path(@gallery), method: :post, local: true,  html: { multipart: true }) do |f| %>
          <div class="form-group">
            <%= f.label :start_date %>
            <%= f.date_field :start_date, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :end_date %>
            <%= f.date_field :end_date, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :photos, 'Images of your craft' %>
            <%= f.file_field :photos, multiple: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 4, class: 'form-control' %>
          </div>
          <%= f.submit 'Reserve', class: 'btn btn-info mt-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
