<%= render "shared/navbar" %>
<%= render "shared/flashes" %>

<div class="page-container">
  <!-- Image Gallery -->
  <div class="image-gallery">
    <div class="large-image">
      <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img01.jpg', alt: 'main image' %>
    </div>
    <div class="small-images">
      <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img02.jpg', alt: 'Small Image 1' %>
      <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img03.jpg', alt: 'Small Image 2' %>
      <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img05.jpg', alt: 'Small Image 3' %>
      <%= image_tag 'https://hiroshige-gallery.com/asset/images/rental/rental_img06.jpg', alt: 'Small Image 4' %>
    </div>
  </div>







  <!-- Gallery Title -->
  <div class="description-container space-between" style="padding-top: 16px;">
  <div class="description" style="width: 65%;">
  <div>
    <h1><%= @gallery.name %></h1>
  </div>

  <!-- Dividers and Sections -->
  <div class="divider"></div>

  <div class="gallery-short-description" style="padding: 24px 0;">
    <h2>Gallery host placeholder</h2>
  </div>

  <div class="divider"></div>

  <div class="gallery-short-description" style="padding-top: 24px; padding-bottom: 24px;">
    <ul>
      <li><h3>Beautiful modern feeling</h3></li>
      <li><h3>Dynamic furniture included for use</h3></li>
      <li><h3>Open space for a variety of mediums</h3></li>
    </ul>
  </div>

  <div class="divider"></div>

  <div class="gallery-description" style="padding-top: 24px; 0;">
    <p><%= @gallery.description %></p>
  </div>
  </div>

  <!-- Booking Form -->
  <div class= "booking-form" style="width:32.5%;">
  <div class="gallery-booking" style="background-color: #f0f0f0; border-radius: 8px; padding: 20px; border: 1px solid #ccc;">
      <h3>¥<%= @gallery.price.round %></h3>

  <%= simple_form_for @gallery do |f| %>
    <%= f.input :booking,
                as: :string,
                input_html: { data: { controller: 'datepicker' } } %>
  <%= f.submit 'Submit', class: 'btn btn-info mt-2' %>
  <% end %>
  </div>
  </div>
  </div>
  </body>
